@use 'open-props/normalize/dark' as op;

@use 'themes/dark.scss';
@use 'themes/light.scss';

@use 'components/app/navbar.scss';
@use 'components/app/skeleton.scss';
@use 'components/forms.scss';

@use 'components/listing/listing.scss';
@use 'components/offer-page/offer_page.scss';

:root {
  --font-sans: 'Inter', sans-serif;

  --brand: var(--blue-5);
  --brand-2: var(--blue-6);
  --brand-3: var(--blue-8);
  --brand-4: var(--blue-9);
  --brand-5: var(--blue-10);

  accent-color: var(--brand, var(--link));
  caret-color: var(--brand, var(--link));
  color: var(--text-2);
}
:where(h2, h3) {
  font-size: 1.5em;
  max-inline-size: initial;
}

body {
  background-color: var(--surface-1);
  font-family: var(--font-sans);

  &.theming > * > * {
    transition:
      background-color 300ms ease-in-out,
      color 300ms ease-in-out;
  }
}

:where(img, svg, video) {
  block-size: initial;
  max-inline-size: initial;
}

a {
  text-decoration: none;
  color: inherit;

  &:visited {
    color: inherit;
  }
}
li {
  list-style-type: none;
}

ul,
li {
  padding: 0;
}
.loader {
  path {
    transform-origin: center;
    animation: spin 0.75s linear infinite;
  }
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: hsla(var(--scrollthumb-color), 0.8);
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: hsla(var(--scrollthumb-color), 1);
}

.scroll-up {
  background: transparent;
  position: fixed;
  bottom: 1em;
  right: 1em;
  cursor: pointer;
  transition: transform 150ms ease-in-out;
  animation: showScrollUp 300ms ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
  @keyframes showScrollUp {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
