@use '/node_modules/normalize.css/normalize.css';
@use 'themes/dark.scss';
@use 'themes/light.scss';

@use 'components/app/navbar.scss';
@use 'components/app/skeleton.scss';
@use 'components/forms.scss';

@use 'components/listing/listing.scss';
@use 'components/offer-page/offer_page.scss';

:root {
  --font-sans: 'Inter', sans-serif;

  --brand: #339af0;
  --brand-2: #228be6;
  --brand-3: #1971c2;
  --brand-4: #1864ab;
  --brand-5: #145591;

  --shadow: 0 3px 5px -2px hsl(220 40% 2% / calc(25% + 3%)), 0 7px 14px -5px hsl(220 40% 2% / calc(25% + 5%));

  accent-color: var(--brand, var(--link));
  caret-color: var(--brand, var(--link));
  color: var(--text-2);
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--surface-1);
  font-family: var(--font-sans);

  &.theming > * > * {
    transition:
      background-color 300ms ease-in-out,
      color 300ms ease-in-out;
  }
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;

  &:visited {
    color: inherit;
  }
}
li {
  list-style-type: none;
}

ul,
li {
  padding: 0;
  margin: 0;
}
.loader {
  path {
    transform-origin: center;
    animation: spin 0.75s linear infinite;
  }
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: hsla(var(--scrollthumb-color), 0.8);
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: hsla(var(--scrollthumb-color), 1);
}

.scroll-up {
  background: transparent;
  position: fixed;
  bottom: 1em;
  right: 1em;
  cursor: pointer;
  transition: transform 150ms ease-in-out;
  animation: showScrollUp 300ms ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
  @keyframes showScrollUp {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

button {
  border: none;
  color: var(--text);
  cursor: pointer;
}

input {
  border: none;
}
