:root {
  --link: #91a7ff;
  --link-visited: #e599f7;

  --text-1: #f1f3f5;
  --text-2: #ced4da;

  --surface-1: #212529;
  --surface-2: #343a40;
  --surface-3: #495057;
  --surface-4: #868e96;
  --surface-invert: #e9ecef;

  --skele: 255, 255, 255;
  --overlay: 0, 0, 0;

  --input-bg-focus: hsl(209, 76%, 20%);
  --overlay-modal: rgba(53, 59, 65, 0.728);

  --scrollthumb-color: 208, 10%, 25%;

  & :where(dialog) {
    background-color: var(--surface-2);
  }
}
