[color-scheme='light'] {
  --link: #4263eb;
  --link-visited: #ae3ec9;

  --text-1: #212529;
  --text-2: #495057;

  --surface-1: #f8f9fa;
  --surface-2: #e9ecef;
  --surface-3: #dee2e6;
  --surface-4: #ced4da;
  --surface-invert: #343a40;

  --input-bg-focus: hsl(207, 34%, 89%);
  --overlay-modal: hsla(210, 16%, 93%, 0.728);

  --skele: 73, 80, 87;
  --overlay: 255, 255, 255;
  --shadow-color: 220 3% 15%;
  --shadow-strength: 1%;

  --scrollthumb-color: 210, 14%, 89%;
}
