.form {
  &[data-login-modal] {
    button.close-modal {
      right: 0.25rem;
      top: 0.25rem;
      position: absolute;
      padding: 0;
      background-color: transparent;
      z-index: 999;

      &:hover {
        background-color: var(--surface-2);
      }
    }
  }

  .wrapper {
    width: fit-content;
    margin: var(--size-10) auto 0 auto;
    background-color: var(--surface-1);
    border-radius: var(--radius-2);
    outline: 1px solid var(--surface-2);
    box-shadow: var(--shadow-2);

    & > p {
      text-align: center;
      padding-top: var(--size-3);
      font-size: var(--font-size-7);
    }
  }

  form {
    display: flex;
    flex-direction: column;
    width: 22rem;
    padding: var(--size-7) var(--size-4) var(--size-4);

    .validation-error {
      color: var(--red-7);
      padding-bottom: 3px;
      display: inline-block;
    }

    fieldset {
      border: none;
      position: relative;
      padding-left: 0;
      padding-right: 0;

      .input-eye {
        background: none;
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: var(--size-2);
        user-select: none;
      }
    }

    & > fieldset {
      label {
        position: absolute;
        left: 10px;
        top: 14px;
        color: var(--text-2);
        line-height: 1;
        transition: transform 150ms ease-in-out;
        padding: 0 2px;
        user-select: none;
      }

      input {
        outline-offset: 0;
        height: var(--size-8);
        width: 100%;
        outline: 1px solid var(--blue-11);

        &:is(:not(:placeholder-shown), :focus-visible) {
          outline: 1px solid var(--brand-2);
          background-color: var(--input-bg-focus);

          & + label {
            transform: translateY(-18px);
            background-color: var(--input-bg-focus);
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            color: var(--text-2);
          }
        }
      }
    }
    button[type='submit'] {
      margin-top: var(--size-9);
      width: 100%;
      min-height: 46px;
      background-color: var(--brand-3);
      padding: var(--size-2);
      border-radius: var(--radius-2);
      transition:
        transform 100ms ease-in-out,
        background-color 100ms ease-in-out;
      font-size: var(--font-size-3);
      color: var(--gray-1);
      font-weight: var(--font-weight-7);
      letter-spacing: 1px;

      &:hover:not(:has(svg)) {
        background-color: var(--brand-2);
      }

      &:has(svg:not(.checkmark)) {
        background-color: var(--brand-5);
      }

      &:active,
      &:focus-visible {
        transform: scale(0.98);
        background-color: var(--brand-4) !important;
      }
      svg {
        margin: auto;
      }
    }
    div:last-of-type {
      & .validation-error {
        display: flex;
        gap: var(--size-1);
        padding-top: var(--size-2);
        font-size: var(--font-size-1);
      }
    }
    .row {
      display: flex;
      align-items: center;
      font-size: 15px;

      a {
        color: var(--link);
        margin-left: auto;
        outline-offset: 0;
        padding: 0;

        &:hover {
          text-decoration: underline;
        }
      }

      fieldset {
        padding: 0;
        label {
          display: flex;
          align-items: center;
          gap: var(--size-2);
          cursor: pointer;
          user-select: none;
        }
      }

      span:not(:last-child) {
        position: relative;
        display: block;
        width: 15px;
        height: 15px;
        border-radius: var(--radius-2);
        background-color: var(--surface-2);
        outline: 1px solid var(--gray-7);
        transition: all 0.15s ease;

        svg {
          position: absolute;
          top: 2px;
          left: 2px;
        }
      }

      input {
        position: absolute;
        opacity: 0;

        &:focus-visible + span {
          outline: 2px solid var(--brand);
        }

        &:checked + span {
          background-color: #606062;
          background-image: linear-gradient(var(--brand-2), var(--brand-3));

          svg {
            stroke-dashoffset: 0;
            transition: all 0.15s ease;
          }
        }
      }
    }

    & > a:last-child {
      color: var(--link);
      margin-top: var(--size-7);

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

[data-registerform] {
  .checkmark {
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke-miterlimit: 10;
    animation:
      fill 0.4s ease-in-out 0.4s forwards,
      scale 0.3s ease-in-out 0.9s both;
  }

  circle {
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
  }

  .checkmark__check {
    transform-origin: 50% 50%;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
  }

  @keyframes stroke {
    100% {
      stroke-dashoffset: 0;
    }
  }

  @keyframes scale {
    0%,
    100% {
      transform: none;
    }
    50% {
      transform: scale3d(1.1, 1.1, 1);
    }
  }

  @keyframes fill {
    100% {
      box-shadow: inset 0px 0px 0px 30px #619c34;
    }
  }
}

.logreg-enter-active,
.logreg-leave-active {
  transition: all 200ms ease-in-out !important;
}

.logreg-enter-from,
.logreg-leave-to {
  opacity: 0;
}

.line-anim {
  &::after {
    content: '';
    height: 2px;
    position: absolute;
    bottom: -2px;
    left: 1rem;
    right: 1rem;
    background-color: currentColor;
    transform: scaleX(0);
    transform-origin: left;
    animation: line-under 500ms forwards ease-in-out;
  }
}
@keyframes line-under {
  to {
    transform: scaleX(1);
  }
}
