.section-navigator {
  position: relative;
  padding-bottom: 1.5em;

  ul {
    $padding: 8px;
    display: flex;
    position: absolute;
    overflow: auto;
    padding-bottom: $padding;
    margin-bottom: 10px;
    padding-right: 1em;
    width: 100%;
    gap: 1em;

    &::-webkit-scrollbar {
      height: 5px;
    }

    &,
    li {
      &::before {
        content: '';
        height: 2px;
        position: absolute;
        bottom: calc(0px + $padding);
        border-radius: 15px;
        z-index: 1;
        transition:
          transform 200ms ease-in-out,
          width 200ms ease-in-out;
      }
    }

    &::before {
      background-color: var(--brand);
      width: var(--indicator-width);
      transform: translateX(var(--indicator-posX));
      z-index: 1;
      transition:
        transform 250ms ease-in-out,
        width 250ms ease-in-out;
    }

    li {
      cursor: pointer;
      user-select: none;
      white-space: nowrap;
      position: relative;

      &:hover {
        opacity: 0.85;
        &::before {
          background-color: var(--surface-4);
        }
      }
      &::before {
        bottom: 0;
        z-index: 0;
        left: 5%;
        right: 5%;
        transition: background-color 100ms ease-in-out;
      }
    }
  }
}
