$gap: 1.5em;

.job-details-wrapper {
  display: flex;
  padding: 1em clamp(15px, 6vw, 8em);
  gap: $gap;

  .job-title,
  .side-pane > div:first-child,
  .details-content,
  .related-offers {
    border-radius: 5px;
    padding: 0.5em;
    outline: 1px solid var(--surface-3);
  }

  main {
    flex: 3;
    gap: $gap;
    display: flex;
    flex-direction: column;
    .details-content {
      padding: 1.5em;
      margin-top: 0.5em;
      position: relative;

      & > span:first-child {
        position: absolute;
        top: 5px;
        right: 8px;
        font-style: italic;
      }

      ul {
        list-style-position: inside;
        li {
          list-style-type: circle;
        }
      }
    }

    .job-title {
      display: flex;
      gap: 1em;

      img {
        aspect-ratio: 1/1;
        width: 6em;
        border-radius: 4px;
      }

      > div:first-of-type {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .title {
          font-size: 1.7em;
          font-weight: bold;
        }
        span {
          a {
            color: var(--brand);
          }
        }
      }
      & > div:last-child {
        color: #ffffff;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        gap: 10px;
        margin: auto 1em auto auto;
        padding: 0.8em;
        border-radius: 4px;
        background-color: hsl(207, 86%, 50%);

        span {
          font-weight: bold;
          font-size: 1.4em;
        }
      }
    }
  }
  .side-pane {
    display: flex;
    flex-direction: column;
    gap: $gap;
    height: fit-content;
    position: sticky;
    top: 8px;
    flex: 0 1 300px;

    .related-offers {
      height: 150px;
      padding: 0.8em;
      & > p:first-child {
        font-weight: bold;
      }
    }

    & div:first-child {
      padding: 0;

      ul {
        margin-top: 1.5em;
        display: flex;

        li {
          flex: 1;
          background-color: var(--surface-2);
          padding: 0.5em 0 0.5em 0;
          cursor: pointer;

          &:where(:nth-child(1), :nth-child(2)) {
            position: relative;
            &::after {
              content: '';
              position: absolute;
              top: 5px;
              bottom: 5px;
              right: 0;
              width: 2px;
              background-color: var(--surface-3);
            }
          }

          &:hover {
            background-color: var(--surface-3);
          }

          button {
            background: none;
            display: flex;
            align-items: center;
            gap: 4px;
            font-weight: bold;
            font-size: 0.9em;
            margin: auto;
          }
        }
      }
      > button:first-of-type {
        background-color: hsl(207, 86%, 50%);
        border-radius: 15px;
        font-size: 1.3em;
        padding: 0.5em 1em;
        font-weight: bold;
        margin: 1em auto 0 auto;
        max-width: 250px;
        display: block;
        width: calc(100% - 2em);
        color: var(--gray-2);

        &:hover {
          background-color: hsl(207, 86%, 55%);
        }
      }
    }
  }
}
