.listing-filters {
  padding: 0 2em 2em 3em;
  margin-right: 1em;
  position: sticky;
  top: 10px;
  height: 100vh;
  overflow: auto;
  flex-shrink: 0;
  scrollbar-gutter: stable;
  border-right: 1px solid rgba(128, 128, 128, 0.208);

  &.not-pinned {
    position: relative;
    top: unset;
    height: fit-content;
  }

  & .pin-icon {
    position: absolute;
    right: 1.5em;
    top: 5px;
    cursor: pointer;
    transition: transform 100ms ease-in-out;
    z-index: 1;

    &:hover {
      transform: scale(1.1);
    }
  }

  & > ul {
    display: flex;
    flex-direction: column;
    gap: 1.8em;

    & > li {
      & > div {
        display: flex;
        align-items: center;
        margin-bottom: 0.5em;
        justify-content: space-between;
        &:has(+ .tech-skills) {
          span:first-child {
            cursor: default;
            &:hover {
              opacity: 1;
            }
          }
        }

        span:first-child {
          font-weight: bold;
          display: block;
          cursor: pointer;

          &:hover {
            opacity: 0.8;
          }
        }
        button {
          background: none;
          font-style: italic;
          font-size: 0.9em;

          &:hover {
            color: var(--brand);
            cursor: pointer;
          }
        }
      }
    }
  }
  .min-salary {
    position: relative;
    & > p {
      user-select: none;
    }
    label {
      margin-top: 0.3em;
      position: relative;
      display: flex;
      align-items: center;
      width: fit-content;
      border-radius: 4px;
      padding-right: 6px;
      outline: 1px solid var(--surface-4);
    }
    input {
      -moz-appearance: textfield;
      appearance: textfield;
      outline-offset: 0;
      padding-right: 5px;
      width: 100%;
      width: 7em;
      outline: none;

      & + span {
        padding-left: 6px;
      }

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }

  li {
    ul {
      & > li {
        label {
          display: flex;
          cursor: pointer;
          gap: 6px;
          align-items: center;
          position: relative;
          user-select: none;
          width: 100%;
          &:hover {
            color: var(--text-1);
          }

          input {
            position: absolute;
            opacity: 0;

            & + span {
              position: relative;
              width: 20px;
              height: 20px;
              border: 2px solid currentColor;
              border-radius: 4px;

              & svg path {
                transition: all 0.6s ease;
              }
              & svg polyline {
                transition: all 0.3s ease;
              }
            }
          }

          input:checked + span {
            border: none;
          }
          input:checked + span svg path {
            fill: var(--brand);
          }
          input:checked + span svg polyline {
            stroke-dashoffset: 0;
          }
        }
      }
    }
  }

  .tech-skills {
    margin-bottom: 0.6em;

    & > div {
      max-height: calc(8 * 35px);
      overflow: auto;
      padding: 3px 4px;
      margin-top: 1em;

      & > p {
        font-style: italic;
        cursor: pointer;
        user-select: none;

        &:hover {
          opacity: 0.8;
        }

        &:not(:first-child) {
          margin: 2em 8px 0.3em 8px;
        }
      }
    }

    ul {
      margin-top: 0.5em;

      display: flex;
      flex-direction: column;
      gap: 8px;

      li.tech-skill {
        cursor: pointer;
        padding: 4px 8px;
        border-radius: 4px;
        outline: 1px solid var(--surface-2);
        transition: all 100ms ease-in-out;
        display: flex;
        align-items: center;
        gap: 7px;
        user-select: none;

        &:hover {
          outline: 2px solid var(--brand-4);
        }

        &.selected {
          color: var(--brand);
          outline: 2px solid var(--brand-3);
        }

        svg.check {
          margin-left: auto;
          margin-right: 5px;
        }
      }
    }
  }

  & > button {
    background: linear-gradient(90deg, var(--brand-4), var(--brand));
    width: 100%;
    margin-top: 1em;
    border-radius: 10px;
    padding: 0.5em 0;
    position: sticky;
    bottom: -12px;
    font-weight: bold;
    transition: outline 150ms ease-in-out;
    outline: 0px solid transparent;
    letter-spacing: 1px;
    color: var(--gray-2);
    box-shadow: var(--shadow-2);

    &:hover {
      outline: 1px solid var(--brand);
    }
  }
}

.applied-filters {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--surface-3);
  margin-bottom: 0.4em;
  & > button {
    background: none;
    flex-shrink: 0;
    font-style: italic;
    display: flex;
    align-items: center;
    gap: 8px;
    &:hover {
      color: #bf616a;
    }
  }

  & > div {
    display: flex;
    gap: 0.8em;
    flex-wrap: wrap;
    padding-bottom: 1.5em;

    & > div {
      outline: 1px solid var(--brand);
      padding: 2px 0.5em 2px 0.8em;
      border-radius: 999px;
      display: flex;
      align-items: center;
      gap: 7px;
      cursor: default;
      flex-shrink: 0;
      font-size: 0.8em;
      span {
        user-select: none;
      }

      svg {
        cursor: pointer;
        transition: all 150ms ease-in-out;

        &:hover {
          color: #bf616a;
          transform: scale(0.95);
        }
      }
    }
  }
}
