.listing-filters {
  padding: 0 0 2em 3em;
  margin-right: 1em;
  position: sticky;
  top: 10px;
  height: 100vh;
  overflow: auto;
  flex-shrink: 0;
  scrollbar-gutter: stable;

  &.not-pinned {
    position: relative;
    top: unset;
    height: fit-content;
  }

  & .pin-icon {
    position: absolute;
    right: 1.5em;
    top: 5px;
    cursor: pointer;
    transition: transform 100ms ease-in-out;
    z-index: 1;

    &:hover {
      transform: scale(1.1);
    }
  }

  & > ul {
    display: flex;
    flex-direction: column;
    gap: 1.3em;

    & > li {
      & > div {
        display: flex;
        align-items: center;
        margin-bottom: 0.5em;
        justify-content: space-between;
        &:has(+ .tech-skills) {
          span:first-child {
            cursor: default;
            &:hover {
              opacity: 1;
            }
          }

          span:last-child {
            margin-right: 2em;
          }
        }

        span:first-child {
          font-weight: bold;
          display: block;
          cursor: pointer;

          &:hover {
            opacity: 0.8;
          }
        }
        span:last-child {
          font-style: italic;
          margin-right: 1em;
          font-size: 0.9em;

          &:hover {
            color: var(--brand);
            cursor: pointer;
          }
        }
      }
    }
  }
  .min-salary {
    position: relative;
    & > p {
      user-select: none;
    }
    label {
      margin-top: 0.3em;
      position: relative;
      display: flex;
      align-items: center;
      width: fit-content;
      border-radius: 4px;
      padding-right: 6px;
      outline: 1px solid var(--surface-4);
    }
    input {
      -moz-appearance: textfield;
      appearance: textfield;
      outline-offset: 0;
      padding-right: 5px;
      width: 100%;
      width: 7em;
      outline: none;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }

  li {
    ul {
      & > li {
        label {
          display: flex;
          cursor: pointer;
          gap: 6px;
          align-items: center;
          position: relative;
          user-select: none;
          width: 100%;

          input {
            position: absolute;
            opacity: 0;

            & + span {
              position: relative;
              width: 20px;
              height: 20px;
              border: 2px solid currentColor;

              border-radius: 4px;

              & svg path {
                transition: all 0.6s ease;
              }
              & svg polyline {
                transition: all 0.3s ease;
              }
            }
          }

          input:checked + span {
            border: none;
          }
          input:checked + span svg path {
            fill: var(--brand);
          }
          input:checked + span svg polyline {
            stroke-dashoffset: 0;
          }
        }
      }
    }
  }

  .tech-skills {
    max-width: 90%;
    margin-bottom: 0.6em;

    & > div {
      max-height: calc(8 * 35px);
      overflow: auto;
      padding: 3px 4px;
      margin-top: 1em;

      & > p {
        font-weight: bold;
        cursor: pointer;
        user-select: none;

        &:hover {
          opacity: 0.8;
        }

        &:not(:first-child) {
          margin: 2em 8px 0.3em 8px;
        }
      }
    }

    input {
      outline: 1px solid var(--surface-4);
      outline-offset: 0;
      width: calc(100% - 4px);

      &:focus {
        outline: 1px solid var(--surface-invert);
      }
    }

    ul {
      margin-top: 0.5em;

      display: flex;
      flex-direction: column;
      gap: 8px;

      li.tech-skill {
        cursor: pointer;
        padding: 4px 8px;
        border-radius: 4px;
        outline: 1px solid var(--surface-2);
        transition: all 100ms ease-in-out;
        display: flex;
        align-items: center;
        gap: 7px;
        user-select: none;

        &:hover {
          outline: 2px solid var(--brand-4);
        }

        &.selected {
          color: var(--brand);
          outline: 2px solid var(--brand-3);
        }

        svg.check {
          margin-left: auto;
          margin-right: 5px;
        }
      }
    }
  }
}

.applied-filters {
  display: flex;
  gap: 0.8em;
  flex-wrap: wrap;
  padding-bottom: 1.5em;

  & > div {
    outline: 1px solid var(--brand);
    padding: 2px 0.5em 2px 0.8em;
    border-radius: 999px;
    display: flex;
    align-items: center;
    gap: 7px;
    cursor: default;
    flex-shrink: 0;
    font-size: 0.8em;
    span {
      user-select: none;
    }

    svg {
      cursor: pointer;
      transition: all 150ms ease-in-out;

      &:hover {
        color: #bf616a;
        transform: scale(0.95);
      }
    }
  }
}
