@use './pagination.scss';
@use './filters.scss';
@use './entry.scss';

.main-wrapper {
  padding: 1.5em clamp(5px, 4vw, 7em) 7.5rem clamp(5px, 4vw, 7em);
  display: flex;
  margin: auto;

  & > div {
    flex-grow: 1;

    header {
      font-size: 1.5rem;
      margin: 0 1.5rem 1em 0;
    }
  }
}

.offers {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;

  .overlay {
    position: absolute;
    background-color: rgba(var(--overlay), 0.65);
    inset: 0;

    .loader {
      position: sticky;
      top: 50%;
      margin-bottom: 50%;
      margin-left: auto;
      margin-right: auto;
      display: block;
      path {
        fill: var(--surface-invert);
      }
    }
  }
}

.ov-fade-enter-active,
.ov-fade-leave-active {
  transition: opacity 300ms ease-in-out;
}

.ov-fade-enter-from,
.ov-fade-leave-to {
  opacity: 0;
}
